<h1>Editing Repair</h1>

<%= render 'form', repair: @repair %>

<br>
<%= link_to 'Show', customer_repair_path(@repair.customer,@repair), class: "btn btn-info" %> |
<%= link_to 'Back', :back, class: "btn btn-secondary" %>
