<h1>Editing Attendance</h1>

<%= render 'form', attendance: @attendance %>

<br>
<%= link_to 'Show', user_attendance_path(current_user, @attendance), class: "btn btn-info" %> |
<%= link_to 'Back', user_attendances_path(current_user), class: "btn btn-secondary" %>
