<h1>Editing Sale</h1>

<%= render 'form', sale: @sale %>

<br>
<%= link_to 'Show', customer_sale_path(@customer,@sale), class: "btn btn-info" %> 
<%= link_to 'Back', :back, class: "btn btn-secondary" %>
