<p id="notice"><%= notice %></p>

<h1><%=@customer ? "#{@customer.capitalize_name}'s Purchases" : "Sales" %></h1>

<%= render 'shared/sale_index'%>

<%= link_to 'New Sale', @new_path, class: "btn btn-primary" %>
